.page-name {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    margin: 20px 0;
}
main {
    padding: 20px;
}
.gallery {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 50px; 
  padding: 43px;

}
.card {
  display: flex;
  width: 500px;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.2s ease;
}
.card:hover {
box-shadow: 0 12px 12px rgba(150, 45, 45, 0.1);
  transform: translateY(-5px);
}
.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 30px;
}
.product-description {
    font-size: 20px;
    margin: 10px 0;
    text-align: left;
    line-height: 1.3;
}
.product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
